<!--Begin app-->
<div class="app">
    <div class="app__content">
        <div class="app__content__title">
            <h2>Make The Delicious Food and Order Our App</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam odio earum sunt libero reiciendis temporibus voluptatem dolorum excepturi modi fuga illum, atque corrupti, animi sed facere eveniet molestias, optio eius!</p>
        </div>
        <div class="app__content__info">
            <div class="info">
                <div class="info__condition">
                    <div class="info__condition__icon">
                        <p>01</p>
                    </div>
                    <div class="info__condition__text">
                        <p>Follow Delivery Status</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="info__condition">
                    <div class="info__condition__icon">
                        <p>02</p>
                    </div>
                    <div class="info__condition__text">
                        <p>Order From Any Location</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app__content__buttons">
            <div class="icon">
                <img src="./img/appButtons1.png" alt="">
            </div>
            <div class="icon">
                <img src="./img/appButtons2.png" alt="">
            </div>
        </div>
    </div>
    <div class="app__logo">
        <img src="./img/appLogo.png" alt="">
    </div>
</div>
<!--End app-->