<!--Begin client-->
<div class="client">
    <div class="client__icon">
        <img src="./img/clientLogo.png" alt="">
    </div>
    <div class="client__content">
        <div class="client__content__title">
            <h2>What Our clients say about us</h2>
            <p>I am grateful to the company or the timely and exceptionally accurate delivery of food. Everything is very tasty and high quality. And it follows that the weight loss plan I have chosen really works! I was surprised</p>
        </div>
        <div class="client__content__swiper">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="swiper-slide__img"><img src="./img/faceIcon/icon1.png" alt=""></div>
                      <div class="swiper-slide__title title">
                        <div class="title__name">
                            <h2>Simon</h2>
                            <p>Hover</p>
                        </div>
                        <div class="title__mark">
                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        </div>
                        </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide__img"><img src="./img/faceIcon/icon2.png" alt=""></div>
                    <div class="swiper-slide__title title">
                    <div class="title__name">
                        <h2>Dina</h2>
                        <p>Prikna</p>
                    </div>
                    <div class="title__mark">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__img"><img src="./img/faceIcon/icon3.png" alt=""></div>
                    <div class="swiper-slide__title title">
                    <div class="title__name">
                        <h2>Anna</h2>
                        <p>Pos</p>
                    </div>
                    <div class="title__mark">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="">
                    </div>
                </div>
            </div>
              </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    </div>
</div>
<!--End client-->