<!--Begin all__block-->
<div class="header">
    <div class="header__block">
            <img src="./img/headerLogo.png">
            <div class="header__block__content headerBar">
               <ul class="headerBar__content">
                   <li><a class="is-active" href="">Home</a></li>
                   <li><a href="">About Us</a></li>
                   <li><a href="">Features</a></li>
                   <li><a href="">Contact</a></li>
                   <li><a href="">Blog</a></li>
               </ul>
            </div>
            <a class="header__block__button"><button>Contact Us</button></a>
    </div>
