<!--Begin all__main__block-->
<div class="introduction">
    <div class="introduction__block">
        <div class="introduction__block__content deliver">
            <div class="deliver__text">
                <p class="deliver__text__title">
                    We Provide Delivery Within 30 Min
                </p>
                <span class="deliver__text__info">
                    Imagine you don’t need a diet because we provide healthy and delicious food for you !
                </span>
            </div>
            <form class="deliver__input">
                <input type="text" placeholder="Enter Zip Coad">
                <button>Discover
                    <p><img src="./img/arrow.png" alt=""></p>
                </button>
            </form>
        </div>
        <div class="introduction__block__logo">
            <img src="./img/introductionLogo.png" alt="">
        </div>
    </div>