<!--Begin order-->
<div class="order">
    <div class="order__name">
        <h2>How To Order?</h2>
        <p>
            Follow the Steps
        </p>
    </div>
    <div class="order__info">
        <div class="order__info__block block">
            <div class="block__icon">
                <img src="./img/iconOrder/icon1.png" alt="">
            </div>
            <div class="block__number">
                <p>01</p>
            </div>
            <div class="block__text">
                <p>Choose your location</p>
            </div>
        </div>
        <div class="order__info__block block__arrow">
            <img src="./img/arrowIcon/icon1.png" alt="">
        </div>
        <div class="order__info__block block">
            <div class="block__icon"><img src="./img/iconOrder/icon2.png" alt=""></div>
            <div class="block__number">
                <p>02</p>
            </div>
            <div class="block__text">
                <p>Choose restaurant</p>
            </div>
        </div>
        <div class="order__info__block block__arrow">
            <img src="./img/arrowIcon/icon2.png" alt="">
        </div>
        <div class="order__info__block block">
            <div class="block__icon"><img src="./img/iconOrder/icon3.png" alt=""></div>
            <div class="block__number">
                <p>03</p>
            </div>
            <div class="block__text">
                <p>Make your order</p>
            </div>
        </div>
        <div class="order__info__block block__arrow">
            <img src="./img/arrowIcon/icon1.png" alt="">
        </div><div class="order__info__block block">
            <div class="block__icon"><img src="./img/iconOrder/icon4.png" alt=""></div>
            <div class="block__number">
                <p>04</p>
            </div>
            <div class="block__text">
                <p>Food is on the way</p>
            </div>
        </div>
    </div>

</div>
<!--End order-->